<cfsilent><?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE preferences SYSTEM "http://java.sun.com/dtd/preferences.dtd">
<preferences EXTERNAL_XML_VERSION="1.0">
	<root type="system">
		<map/>				    
	<node name="generalSettings"><map/><node name="dataSource"><map><entry key="name" value="db_hme"/><entry key="type" value="mssql"/><entry key="username" value=""/><entry key="password" value=""/><entry key="tablePrefix" value="LIVEQSR_"/></map></node></node></root>
</preferences></cfsilent>
